* { margin: 0, padding: 0 }

#myVideo{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.pageHeader{
  background-color: white;
  border: 3px solid yellow;
  position: fixed;
  left: 0;
  width: 100vw;
}
#container{
  height: 2500px;
  background-color: lightgray;
}