.contact {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    background: rgba(0, 255, 255, 0.3);
    padding: 0.25vw;
}
.head2 {
    color: blue;
    font-size: x-large;
    text-align: center;
}
.par {
    color: #000000;
    font-size: 2vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 2vh;
    font-weight: lighter;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    height: auto;
    font-family: 'Syncopate', sans-serif;
}
.menu-name {
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3vw;
    font-size: 3vh;
    color: rgba(55, 55, 55, 1);
}
.menu-buttons {
    font-size: 2vh;
}
span {
    display: block;
}
#myVideo {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: rgba(0, 255, 255, 0.4);
    text-decoration: underline;
}
